@mixin LightFont($color) {
    font-size: 36px;
    font-weight: 300;
    color: $color;
}

@mixin RegularFont($color) {
    font-size: 24px;
    font-weight: 400;
    color: $color;
}

@mixin SemiboldFont($color) {
    font-size: 18px;
    font-weight: 600;
    color: $color;
}

@mixin BoldFont($color) {
    font-size: 16px;
    font-weight: 700;
    color: $color;
}

@mixin ExtraboldFont($color) {
    font-size: 14px;
    font-weight: 800;
    color: $color;
}

$colorOne: #1288e8;
$colorTwo: #616a8b;
$white: #ffffff;
$blueLight: #5fb2ff;
$blueBlack: #3887fe;
$oranLight: #f7bc7a;
$oranBlack: #ed6480;

.wrapper {
    min-height: 100%;
    overflow-x: hidden;
}

.sec-container {
    max-width: 100%;
    margin: 0 auto;
}

.wallets {
    &__container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        height: 100vh;
        width: 100%;
    }

    &__header {
        width: 100%;
    }

    &__title {
        @include SemiboldFont($white);
    }

    &__top-box {
        display: grid;
        grid-template-columns: 293px 1fr;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        min-width: 0;
    }

    &__chard {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
        padding: 21px;
    }

    &__top-box-swiper {
        .swiper {}

        .swiper-wrapper {
            gap: 24px;
        }

        .swiper-slide {
            width: 100%;
            max-width: 292px;

            .item {
                background: linear-gradient(237.07deg, rgba(96, 67, 146, 0.5) -8.06%, rgba(15, 11, 56, 0.5) 96.63%);
                padding: 16px;
                position: relative;
                border-radius: 8px;

                &__title {
                    @include BoldFont($white);

                    position: absolute;
                    top: 16px;
                    left: 16px;
                }

                &__statistic-box {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 12px;
                }

                &__text-box {
                    display: flex;

                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: 14px;
                }

                &__price {
                    @include SemiboldFont($white);
                    font-size: 16px;
                }

                &__proc {
                    @include SemiboldFont($colorTwo);
                    font-size: 12px;
                }

                &__img {
                    width: 56px;
                    height: 56px;
                }
            }
        }
    }

    &__down-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }
}

.wl-chard {
    &__nav {
        ul {
            li {
                margin-top: 8px;
                position: relative;
                list-style: none;

                .li-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 98px;
                }

                p {
                    @include RegularFont($white);
                    font-size: 12px;
                }

                span {
                    @include BoldFont($white);
                    font-size: 12px;
                }
            }

            li:before {
                content: "";
                position: absolute;
                left: -20px;
                top: 4px;
                display: block;
                background-image: url(../public/icons/li-icon-one.svg);
                width: 19px;
                height: 19px;
            }
        }
    }

    &__circle {
        width: 105px;
        height: 105px;
    }
}

.dw-box {
    &__left {
        max-width: 552px;
        width: 100%;
        padding: 24px;
        background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0f0b38 88.83%);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__right {
        position: relative;

        max-width: 508px;
        padding: 16px 24px;
        width: 100%;

        background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0f0b38 88.83%);
    }
}

.right-block {
    &__title {
        @include SemiboldFont($white);
        font-size: 14px;
    }

    hr {
        margin: 14px 0px 14px 0px;
        background: #2d317a;
        border-color: #2d317a;
    }

    &__box {
        display: flex;
        gap: 16px;
        flex-direction: column;
        max-height: 400px;
        overflow: hidden;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            gap: 12px;
            width: 100%;
            max-width: 460px;

            &__left {
                @include SemiboldFont($colorTwo);
                font-size: 14px;
            }

            &__right {
                width: 100%;
                max-width: 360px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__text-box {
                display: flex;
                flex-direction: column;
                align-items: start;

                h5 {
                    @include SemiboldFont($white);
                    font-size: 12px;
                }

                p {
                    @include LightFont($white);
                    font-size: 12px;
                }
            }

            &__price {
                @include RegularFont($white);
                font-size: 14px;
            }
        }
    }
}


.effect {
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(15, 11, 56, 0) 8.84%, #0F0B38 100%);
    display: flex;
    justify-content: center;
    align-items: end;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 88px;

    span {
        color: $white;
        rotate: 90deg;
    }
}

@media (max-width: 980px) {
    .wallets__down-box {
        justify-content: center;
        flex-wrap: wrap;
    }

    .sec-container {
        box-sizing: content-box;
        padding: 0 16px;
    }
}

@media (max-width: 615px) {
    .wallets__top-box-swiper .swiper-wrapper {
        justify-content: flex-start;
        align-items: center;
    }

    .wallets__top-box {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}