@mixin LightFont($color) {
   font-size: 36px;
   font-weight: 300;
   color: $color;
}
@mixin RegularFont($color) {
   font-size: 24px;
   font-weight: 400;
   color: $color;
}

@mixin SemiboldFont($color) {
   font-size: 18px;
   font-weight: 600;
   color: $color;
}

@mixin BoldFont($color) {
   font-size: 16px;
   font-weight: 700;
   color: $color;
}

@mixin ExtraboldFont($color) {
   font-size: 14px;
   font-weight: 800;
   color: $color;
}
$colorOne: #1288e8;
$colorTwo: #616a8b;
$white: #ffffff;
$blueLight: #5fb2ff;
$blueBlack: #3887fe;
$oranLight: #f7bc7a;
$oranBlack: #ed6480;
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans" !important;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.sec-container {
   max-width: 1484px;
   margin: 0 auto;
}
.wallets {
   p {
      width: auto !important;
      padding: 0 !important;
   }
   &__container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 24px;
      height: fit-content;
      width: 100%;
   }

   &__header {
      width: 100%;
   }

   &__title {
      @include SemiboldFont($white);
   }

   &__top-box {
      display: grid;
      grid-template-columns: 293px 1fr;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      min-width: 0;
   }

   &__chard {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
      padding: 21px;
   }
   &__top-box-cards {
      display: flex;
      gap: 24px;
      overflow-y: auto;
      align-items: center;
      &::-webkit-scrollbar {
         display: none;
      }
      .cards-slide {
         width: 100%;
         position: relative;
         max-width: 292px;
         margin-bottom: 5px;

         &::after {
            content: " ";
            width: 0%;
            height: 5px;
            position: absolute;
            bottom: -5px;
            display: block;
            background-color: #1288e8;
            border-radius: 5px;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.4s ease;
         }
         .item {
            background: linear-gradient(237.07deg, rgba(96, 67, 146, 0.5) -8.06%, rgba(15, 11, 56, 0.5) 96.63%);
            padding: 16px;
            position: relative;
            border-radius: 8px;

            &__title {
               @include BoldFont($white);

               position: absolute;
               top: 16px;
               left: 16px;
            }
            &__statistic-box {
               display: flex;
               justify-content: flex-end;
               align-items: center;
               gap: 12px;
            }

            &__text-box {
               display: flex;

               justify-content: center;
               align-items: flex-end;
               flex-direction: column;
               gap: 14px;
            }

            &__price {
               @include SemiboldFont($white);
               font-size: 16px;
            }
            &__proc {
               @include SemiboldFont($colorTwo);
               font-size: 12px;
            }

            &__img {
               width: 56px;
               height: 56px;
            }
         }
      }
   }
   &__down-box {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 24px;
   }
}

.wl-chard {
   &__nav {
      ul {
         li {
            margin-top: 8px;
            position: relative;
            list-style: none;
            .li-box {
               display: flex;
               justify-content: space-between;
               align-items: center;
               width: 98px;
            }
            p {
               @include RegularFont($white);
               font-size: 12px;
            }

            span {
               @include BoldFont($white);
               font-size: 12px;
            }
         }
         li:before {
            content: "";
            position: absolute;
            left: -20px;
            top: 4px;
            display: block;
            background-image: url(../public/icons/li-icon-one.svg);
            width: 19px;
            height: 19px;
         }
      }
   }
   &__circle {
      width: 105px;
      height: 105px;
   }
}

.dw-box {
   &__left {
      max-width: 552px;
      width: 100%;
      padding: 24px;
      background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0f0b38 88.83%);
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__right {
      position: relative;

      max-width: 648px;
      padding: 16px 24px;
      width: 100%;

      background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0f0b38 88.83%);
   }
}
.right-block {
   &__title {
      @include SemiboldFont($white);
      font-size: 14px;
   }
   hr {
      margin: 14px 0px 14px 0px;
      border: 1px solid #2d317a;
   }
   &__box {
      display: flex;
      gap: 16px;
      flex-direction: column;
      max-height: 240px;
      overflow: auto;
      &::-webkit-scrollbar {
         display: none;
      }
      .item {
         display: flex;
         justify-content: space-between;
         align-items: center;

         gap: 12px;
         width: 100%;
         max-width: 600px;
         &__left {
            @include SemiboldFont($colorTwo);
            font-size: 14px;
         }

         &__right {
            width: 100%;
            max-width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
         }

         &__text-box {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;
            h5 {
               @include SemiboldFont($white);
               font-size: 12px;
            }
            p {
               @include LightFont($white);
               font-size: 12px;
            }
         }

         &__price {
            @include RegularFont($white);
            font-size: 14px;
         }
      }
   }
}

.effect {
   cursor: pointer;
   width: 100%;
   position: absolute;
   background: linear-gradient(180deg, rgba(15, 11, 56, 0) 8.84%, #0f0b38 100%);
   display: flex;
   justify-content: center;
   align-items: end;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
   height: 88px;
   span {
      color: $white;
      rotate: 90deg;
   }
   transition: all 0.4s ease;
}
.hover::after {
   width: 100% !important;
}
@media (max-width: 980px) {
   .wallets__down-box {
      justify-content: center;
      flex-wrap: wrap;
   }
}

@media (max-width: 750px) {
   .wallets__top-box {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
   }
}
@media (max-width: 400px) {
   .wallets__chard {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
      padding: 12px;
   }
}
